@import "../omarchy/current/theme/waybar.css";

* {
    background-color: @background;
    color: @foreground;
    /*background-color: rgba(0, 0, 0, 0.8);
    background: transparent;*/
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
    min-width: 12px;
    margin: 0 7.5px;
}

#tray {
    margin-right: 10px;
}

#bluetooth {
    margin-right: 10px;
}

#network {
    margin-right: 10px;
}

#custom-expand-icon {
    margin-right: 10px;
}

tooltip {
    padding: 2px;
}

#custom-update {
    font-size: 20px;
}

#clock {
    margin-left: 8.75px;
}

.hidden {
    opacity: 0;
}

#waybar {
    padding: 10px 0;
}

#waybar .module {
    padding: 10px 10px;
}

* {
    font-size: 20px;
}

#tray,
#bluetooth,
#network,
#pulseaudio,
#cpu,
#battery,
#custom-expand-icon {
    font-size: 20px;
}

.modules-left {
}

.modules-right {
}
